/*obshiye*/
body{
  font-family: 'Montserrat', sans-serif;
}
.bg-1{
    background-color: black;
    height: 650px;
    width: 110.6%;
    margin: -10%;
    display: block;
}
a {
    text-decoration: none;
    color: white;
}
h1{
  font-family: 'Playfair Display SC', serif;
    color: white;
    font-size: 38px;
}
h2{
    font-family: 'Playfair Display SC', serif;
    font-size: 32px;
}
/*header*/
header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60px;
}
.header-txt {
    display: inline;
    color: white;
    margin: 12px;
    font-size: 13px;
}
.header-logo{
    margin-left: 8%;
}
.header-spis{
    margin-right: 20px;
    max-width: 700px;
    min-width: 370px;
}
.header-nomer{
    max-width: 400px;
    min-width: 170px;
    
}
.header-soc{
    margin-right: 8%;
    min-width: 190px;
}
.icon{
    display: inline;
    margin: 10px;
}
/*srtuctura*/
.Obshiy-1{
    display: inline-block;
     justify-content: space-between;
     position: absolute;
     top: 160px;
     margin-left: 7%;
}
/*text pervoy stranicy*/
.zagolovok-txt{
    font-weight: 300;
    font-size: 12px;
}
.container-op {
   display: inline-block;
    max-width: 45%;
    min-width: 25%;
    height: 450px;
    color: white;
    text-align: center;
    margin-left: 12.5%;
}
/*Kartinki-ssilky-knopka*/
.kartinki-ss-box{
    display: inline-block;
    margin-left: 13%;
    height: 300px;
    width: 280px;
   
}
.kart{    
    display: block;
    height: 128px;
    width: 224px;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 2px;
    position	: relative;
}
.opis-kart-text{
    height: 10px;
    width: 224px;
    bottom: 15px;
    position: absolute;
    color: white;
    font-weight: 510;
}
.opis-kart-back{
    position: absolute;
    background-color: black;
    opacity: 0.4;
    height: 30px;
    width: 224px;
    bottom: 15px;
}
.opis-kart-text-2{
    height: 10px;
    width: 224px;
    position: absolute;
    color: white;
    font-weight: 510;
    bottom: 15px;
}
.opis-kart-back-2{
    position: absolute;
    background-color: black;
    opacity: 0.4;
    height: 30px;
    width: 224px;
    bottom: 15px;
}
.kart2{         
    display: block;
    position: relative;
    margin-top: 35px;
    height: 128px;
    width: 224px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 2px;
}
.knopka-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 244px;
    height: 64px;
    margin-top: 10%;
    background: black;
    color: white;
    border-color: #CE03CE;
    border-radius:  10px;
    padding: 2%;
}
.skrit {
    color: black;
}
/*pro sho*/
.pro-sho{
    display: block;
    margin-top: 280px;
    margin-left: 10%;
    position: relative;
}
.p-s-img{
    display: inline-block;
}
.p-s-text-cont{
    display: inline-block;
    max-width: 50%;
    min-width: 25%;
    margin-left: 7%;
    position: absolute;
    top: 15%;
    text-align: center;
}
.p-s-text{  
    font-weight: 500;
}
.bg-2{
    height: 450px;
}